body{background-image: linear-gradient(lightgoldenrodyellow, lightsteelblue, lightgoldenrodyellow)}
a:link{
    color: darkblue;
    background-color: lightblue;
}

a:visited{
    color: crimson;}

a:hover {
    background-color: darkblue;
    font-size:20px;
    color: lightblue;
}

.header {
    margin: 0 auto;
    width: 70%;
    color: coral;
    display: flex;
}
.header .header-option {
    padding: 30px;
}
.content {
    margin: 0 auto 40px auto;
    width: 70%;
}
.content .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.content .main-box {
    display: flex;
}
.content .main-box table {
    padding: 40px;
}
.content .main-box .sponsore {
    padding: 40px;
}

#buttons {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

